.primary-color{
    color: $primary_color;
}

.secondary-color{
    color: $secondary_color;
}

.grid-item.br-none{
    border-right: none;
}

.grid-item.bl-none{
    border-left: none;
}

.grid-item.bt-none{
    border-top: none;
}

.grid-item.bb-none{
    border-bottom: none;
}

.pointer{
    cursor: pointer;
}

.pointer-none{
    cursor: default;
}

.greggy{
    background-image: url(./../assets/logos/greggy_primary.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: content-box;
    background-color: $secondary_color;
}

.greggy:hover{
    background-image: url(./../assets/logos/greggy_secondary.png);
    background-color: $primary_color;
}
.greggy-secondary{
    background-image: url(./../assets/logos/greggy_secondary.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-origin: content-box;
    background-color: $primary_color;
}

.greggy-secondary:hover{
    background-image: url(./../assets/logos/greggy_primary.png);
    background-color: $secondary_color;
}

.top{
    position: absolute;
    top: 0.66vh;
}

.bottom{
    position: absolute;
    bottom: 2.5vh;
}

.shop{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10.78vh;
    color: $primary_color;
    text-align: center;
}

.shop-misc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10.78vh;
    color: $secondary_color;
    text-align: center;
}

.back-arrow{
    background-image: url("../assets/logos/back_arrow.png");
    background-color: $secondary_color;
    display: block; 
    background-size: cover; 
}

.checkout{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7vh;
    margin: 0;
}