<div class="container">
    <div class="grid-container">
        <div class="desktop">
            <div class="grid-top">
                <div class="grid-item pointer" (click)="back_to_details()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="6.38vw" height="8.62vh" viewBox="0 0 104.016 71.132" class="arrow">
                        <g id="Group_1" data-name="Group 1" transform="translate(-96.984 -27.984)">
                          <line id="Line_7" data-name="Line 7" x2="93" transform="translate(105.5 63.5)" fill="none" stroke="#789aa3" stroke-linecap="round" stroke-width="5"/>
                          <line id="Line_8" data-name="Line 8" x1="39" y2="31.55" transform="translate(100.5 31.5)" fill="none" stroke="#789aa3" stroke-linecap="round" stroke-width="5"/>
                          <line id="Line_9" data-name="Line 9" x1="39" y1="31.55" transform="translate(100.5 64.05)" fill="none" stroke="#789aa3" stroke-linecap="round" stroke-width="5"/>
                        </g>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="6.38vw" height="8.62vh" viewBox="0 0 104.016 71.132" class="arrow-hover">
                        <g id="Group_1" data-name="Group 1" transform="translate(-96.984 -27.984)">
                          <line id="Line_7" data-name="Line 7" x2="93" transform="translate(105.5 63.5)" fill="none" stroke="#f6f2e1" stroke-linecap="round" stroke-width="5"/>
                          <line id="Line_8" data-name="Line 8" x1="39" y2="31.55" transform="translate(100.5 31.5)" fill="none" stroke="#f6f2e1" stroke-linecap="round" stroke-width="5"/>
                          <line id="Line_9" data-name="Line 9" x1="39" y1="31.55" transform="translate(100.5 64.05)" fill="none" stroke="#f6f2e1" stroke-linecap="round" stroke-width="5"/>
                        </g>
                    </svg>
                </div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>  
                <div class="grid-item"></div>
            </div>
            <div class="grid-mid pointer-none">
                <div class="grid-item"></div>
                <div class="grid-item">
                    <p class="shop">about</p>
                </div>
                <div class="grid-item desc-grid">
                    <div class="description">
    greggy is a design forward ceramic smoker ware brand crafting objects for your modern rituals, 
    objects that elevate the smoking experience through form, intention and craft. the core language 
    of greggy is derived from functionalism, simplicity and integration of art and craft.
    <br><br>
    it exists as a testament of it's founder's, Amit Eapen's, love for midcentury ceramics and the 
    vision for a sustainable design oriented smoking lifestyle. Each piece is handmade by skilled pottery 
    artisans in rural India, combining Eapen’s design sensibility with generations of craftsmanship. The 
    result is smoker ware that feels sculptural, tactile, and deeply personal — meant to be used, displayed, and loved.
                    </div>
                </div>  
                <div class="grid-item"></div>
                <div class="grid-item"></div>  
            </div>
            <div class="grid-top">
                <div class="grid-item"></div>
                <div class="grid-item"></div>
                <div class="grid-item"></div>  
                <div class="grid-item"></div>
            </div>
        </div>

        <div class="mobile">
            <div class="grid-top">
                <ng-container>
                    <ng-template [ngTemplateOutlet]="greggyTemplate">
                    </ng-template>
                </ng-container>
            </div>
            <div class="grid-item pointer">
                <div class="desc">about</div>
            </div>
            <div class="grid-rest">
                <div class="grid-item description">
                    greggy is a design forward ceramic smoker ware brand crafting objects for your modern rituals, 
    objects that elevate the smoking experience through form, intention and craft. the core language 
    of greggy is derived from functionalism, simplicity and integration of art and craft.
    <br><br>
    it exists as a testament of it's founder's, Amit Eapen's, love for midcentury ceramics and the 
    vision for a sustainable design oriented smoking lifestyle. Each piece is handmade by skilled pottery 
    artisans in rural India, combining Eapen’s design sensibility with generations of craftsmanship. The 
    result is smoker ware that feels sculptural, tactile, and deeply personal — meant to be used, displayed, and loved.
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #greggyTemplate let-product>
    <div class="grid-item pointer greggy" (click)="back_to_details()"></div>
</ng-template>