<div class="container">
    <div class="grid-container">
        <div class="grid-top">
            <div class="grid-item pointer" (click)="back_to_product()">
                <svg xmlns="http://www.w3.org/2000/svg" width="6.38vw" height="8.62vh" viewBox="0 0 104.016 71.132" class="arrow">
                    <g id="Group_1" data-name="Group 1" transform="translate(-96.984 -27.984)">
                      <line id="Line_7" data-name="Line 7" x2="93" transform="translate(105.5 63.5)" fill="none" stroke="#789aa3" stroke-linecap="round" stroke-width="5"/>
                      <line id="Line_8" data-name="Line 8" x1="39" y2="31.55" transform="translate(100.5 31.5)" fill="none" stroke="#789aa3" stroke-linecap="round" stroke-width="5"/>
                      <line id="Line_9" data-name="Line 9" x1="39" y1="31.55" transform="translate(100.5 64.05)" fill="none" stroke="#789aa3" stroke-linecap="round" stroke-width="5"/>
                    </g>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="6.38vw" height="8.62vh" viewBox="0 0 104.016 71.132" class="arrow-hover">
                    <g id="Group_1" data-name="Group 1" transform="translate(-96.984 -27.984)">
                      <line id="Line_7" data-name="Line 7" x2="93" transform="translate(105.5 63.5)" fill="none" stroke="#f6f2e1" stroke-linecap="round" stroke-width="5"/>
                      <line id="Line_8" data-name="Line 8" x1="39" y2="31.55" transform="translate(100.5 31.5)" fill="none" stroke="#f6f2e1" stroke-linecap="round" stroke-width="5"/>
                      <line id="Line_9" data-name="Line 9" x1="39" y1="31.55" transform="translate(100.5 64.05)" fill="none" stroke="#f6f2e1" stroke-linecap="round" stroke-width="5"/>
                    </g>
                </svg>
            </div>
            <div class="grid-item"></div>
            <div class="grid-item"></div>  
            <div class="grid-item"></div>
        </div>
        <div class="grid-mid pointer-none">
            <div class="grid-item"></div>
            <div class="grid-item">
                <p class="shop">cart</p>
            </div>
            <div class="grid-item desc-grid">
                <div class="shop empty" *ngIf="isCartEmpty">
                        your cart is empty
                </div>
                <ng-container *ngFor="let item of cartItems">
                    <ng-template [ngTemplateOutlet]="cartTemplate" [ngTemplateOutletContext]="{ $implicit: item }">
                    </ng-template>
               </ng-container>
            </div>  
            <div class="grid-item"></div>
            <div class="grid-item"></div>  
        </div>
        <div class="grid-top">
            <div class="grid-item"></div>
            <div class="grid-item"></div>
            <div class="grid-item">
                <p class="checkout bottom primary-color">total: &#8377;{{totalPrice}}</p>
            </div>  
            <div class="grid-item pointer" [class.disabled]="isCartEmpty" (click)="go_to_order()">
                <p class="checkout bottom primary-color">checkout</p>
            </div>
        </div>
    </div>
</div>

<ng-template #cartTemplate let-item>
    <div class="description">
        <div class="item-list">
            <div class="list pointer" (click)="go_to_product(item)">
                <img [src]="item.product.img1" class="img">
            </div>
            <div class="product-summary">
                <div class="name">{{item.product.name}}</div>
                <div class="price">&#8377;{{item.product.price}}</div>
            </div>
            <div class="list">
                <div class="button pointer" (click)="increment(item)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5vh" height="" fill="#7295a5" viewBox="0 0 24 24">
                        <path d="M12 5v14M5 12h14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>  
                </div>
                <div class="quantity">
                    {{item.quantity}}
                </div>
                <div class="button pointer" (click)="decrement(item)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="5vh" height="" fill="#7295a5" viewBox="0 0 24 24">
                        <path d="M5 12h14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                      </svg>
                </div>
            </div>
        </div>
    </div>
</ng-template>