<div class="container">
    <div class="grid-container">
        <div class="grid-top">
            <div class="grid-item pointer" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>
            <div class="grid-item pointer" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>
            <div class="grid-item pointer" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>  
            <div class="grid-item pointer" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>
        </div>
        <div class="grid-mid">
            <div class="grid-item"></div>  
            <div class="grid-item pointer" (click)="go_to_about()">
                <p class="shop">about</p>
            </div>  
            <div class="grid-item"></div>  
            <div class="grid-item"></div>  
            <div class="grid-item"></div>  
            <div class="grid-item"></div>  
            <div class="grid-item pointer">
                <p class="shop" (click)="go_to_contact()">contact us</p>
            </div>  
            <div class="grid-item"></div>  
    
        </div>
        <div class="grid-top">
            <div class="grid-item pointer" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>
            <div class="grid-item pointer" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>
            <div class="grid-item pointer" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>  
            <div class="grid-item pointer" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>
        </div>
    </div>
</div>