<div class="container">
    <div class="grid-container">
        <div class="grid-top">
            <div class="grid-item" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>
            <div class="grid-item" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>
            <div class="grid-item" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>  
            <div class="grid-item" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>
        </div>
        <div class="grid-mid">
            <div class="grid-item">
                <div class="product-img" (click)="go_to_product()">
                    //product image here
                </div>
            </div>
            <div class="grid-item">
                <div class="product-img" (click)="go_to_product()">
                    //product image here
                </div>
            </div>
            <div class="grid-item">
                <div class="product-img" (click)="go_to_product()">
                    //product image here
                </div>
            </div>  
            <div class="grid-item">
                <div class="product-img" (click)="go_to_product()">
                    //product image here
                </div>
            </div>
            <div class="grid-item">
                <div class="product-img" (click)="go_to_product()">
                    //product image here
                </div>
            </div>
            <div class="grid-item">
                <div class="product-img" (click)="go_to_product()">
                    //product image here
                </div>
            </div>  
            <div class="grid-item">
                <div class="product-img" (click)="go_to_product()">
                    //product image here
                </div>
            </div>
            <div class="grid-item">
                <div class="product-img" (click)="go_to_product()">
                    //product image here
                </div>
            </div>  
    
        </div>
        <div class="grid-top">
            <div class="grid-item" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>
            <div class="grid-item" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>
            <div class="grid-item" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>  
            <div class="grid-item" (click)="switch_page()">
                <p class="shop">greggy</p>
            </div>
        </div>
    </div>
</div>