<div class="container">
    <div class="grid-container">
        <div class="grid-top">
            <div class="grid-item pointer" (click)="back()">
                <p class="shop">//back arrow logo</p>
            </div>
            <div class="grid-item">
                <p class="shop"></p>
            </div>
            <div class="grid-item">
                <p class="shop"></p>
            </div>  
            <div class="grid-item pointer" (click)="go_to_cart()">
                <p class="shop">//cart logo</p>
            </div>
        </div>
        <div class="grid-mid">
            <div class="grid-item pointer">
                <div class="product-img">
                    //product image here
                </div>
            </div>
            <div class="grid-item pointer">
                <div class="product-img">
                    //product image here
                </div>
            </div>
            <div class="grid-item">
                <div class="product-name">
                    //product name here
                </div>
            </div>  
            <div class="grid-item">
                <div class="product-name">
                    //product price here
                </div>
            </div>
            <div class="grid-item pointer">
                <div class="product-img">
                    //product image here
                </div>
            </div>
            <div class="grid-item pointer">
                <div class="product-img">
                    //product image here
                </div>
            </div>  
            <div class="grid-item br-none">
                <div class="product-details">
                    //product details here
                </div>
            </div>
            <div class="grid-item bl-none"></div>  
    
        </div>
        <div class="grid-top">
            <div class="grid-item">
                <p class="shop"></p>
            </div>
            <div class="grid-item">
                <p class="shop"></p>
            </div>
            <div class="grid-item">
                <p class="shop"></p>
            </div>  
            <div class="grid-item pointer">
                <p class="shop">add to cart</p>
            </div>
        </div>
    </div>
</div>
